<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FinishOrder"
            android:label="@string/finishorder"
            android:parentActivityName=".OrdersToMe"/>
        <activity
            android:name=".OrdersToMe"
            android:label="@string/OrdersToMe"
            android:parentActivityName=".Notification" />
        <activity
            android:name=".UpdateOrder"
            android:label="@string/updateorder"
            android:parentActivityName=".OrdersToBeRecived" />
        <activity
            android:name=".Notification"
            android:label="@string/notification"
            android:parentActivityName=".OrdersToBeRecived" />
        <activity
            android:name=".OrdersToBeRecived"
            android:label="@string/OrderToBeRec"
            android:parentActivityName=".AddPaymentMethod" />
        <activity
            android:name=".AddPaymentMethod"
            android:label="@string/payment"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/orderRev">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>